.card {
    margin: 16px 0;
    background-color: #f7f4f4;
}

.card-boxs {
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
}

.pizza-card {
    width: 300px;
    height: 484px;
    background-color: #fff;
    margin: 12px 0;
    border-radius: 10px;
}

.pizza-title {
    color: rgb(25, 25, 25);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 10px 0 0 12px;
}

.pizza-text {
    color: rgb(25, 25, 25);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding: 10px 12px;

}

.pizza-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 14px;
}

.pizza-btn {
    width: 131px;
    height: 48px;
    border-radius: 6px;
    background: rgb(255, 112, 16);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.pizza-price {
    color: rgb(255, 112, 16);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    padding-top: 10px;
}

.modal-pizza {
    display: flex;
    align-items: center;
}

.modal-title {
    color: rgb(25, 25, 25);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin: 16px 0;
}

.modal-button {
    width: 460px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    outline: none;
    margin: 20px 0;

}

.modal-btn-activ {
    width: 50%;
    height: 100%;
    border-radius: 6px;
    background: rgb(255, 112, 16);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: none;
}

.modal-btn-active {
    width: 50%;
    height: 100%;
    border-radius: 6px;
    color: rgb(25, 25, 25);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: none;
    background-color: #fff;
}

.modal-btn-size {
    width: 460px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    display: flex;
}

.btn-size-activ {
    width: 33.3%;
    height: 100%;
    border-radius: 6px;
    background: rgb(255, 112, 16);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: none;
}

.btn-size-active {
    width: 33.3%;
    height: 100%;
    color: rgb(25, 25, 25);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: none;
}

.m-photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    cursor: pointer;
}

.m-photo-item {
    width: 105px;
    height: 105px;
    border: 1px solid grey;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.m-photo-item img:first-child {
    max-width: 40px;
    min-height: 40px;
}

.m-photo-item img:nth-child(2) {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: none;
}

.m-photo-item.border-warning img:nth-child(2) {
    display: inline;
}

.m-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

}

.m-price {
    color: rgb(255, 112, 16);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.m-weight {
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.m-add {
    width: 155px;
    height: 48px;
    border-radius: 6px;
    background: rgb(255, 112, 16);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: none;
}