@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul,
li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.container {
  width: 100% !important;
  max-width: 1310px !important;
  margin: 0 auto !important;
}

body {
  background-color: rgb(246, 242, 242) !important;
}